<!-- start of footer -->
<footer class="bg-dark">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-3 col-sm-6 mb-5">
				<h5 class="font-primary text-white mb-4">Découvrir</h5>
				<ul class="list-unstyled">
					<li>
						<a href="{{ path('app_history') }}">Histoire</a>
					</li>
					<li>
						<a href="{{ path('app_about') }}">À propos</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-sm-6 mb-5">
				<h5 class="font-primary text-white mb-4">Contact</h5>
				<ul class="list-unstyled">
					<li>
						<p>01 23 45 67 89</p>
					</li>
					<li>
						<p>contact@normandie.com</p>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-sm-6 mb-5">
				<h5 class="font-primary text-white mb-4">Adresse</h5>
				<ul class="list-unstyled">
					<li>
						<p>1234 Route de la Normandie</p>
					</li>
					<li>
						<p>76000 Rouen</p>
					</li>
					<li>
						<p>France</p>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-sm-6 mb-5">
				<h5 class="font-primary text-white mb-4">Normandie Blog</h5>
				<ul class="list-unstyled">
					<li>
						<a href="{{ path('app_legal') }}">Mentions légales</a>
					</li>
					<li>
						<a href="{{ path('app_confidentiality') }}">Politique de confidentialité</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/thomas-fouquet/" target="_blank">Développé par Thomas Fouquet</a>
					</li>
					*
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- end of footer --></div></section><!-- END main-wrapper --><!-- All JS Files --><script src="{{ asset('plugins/jQuery/jquery.min.js') }}"></script><script src="{{ asset('plugins/bootstrap/bootstrap.min.js') }}"></script><!-- Main Script --><script src="{{ asset('js/script.js') }}"></script></body></html>
