{% include 'layout/base.html.twig' %}

{% block body %}
	<div class="container py-4 my-5">
		<h1 class="text-white mb-3">{{ block('title') }}</h1>
		<div class="row">
			<div class="col-md-10">
				<div class="registration-form bg-dark p-4">
					{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
					<div class="row">
						{{ form_row(form._token) }}

						{% for field in form %}
							{% if field.vars.name != '_token' %}
								<div class="col-md-6">
									<div class="form-group mb-5">
										{{ form_label(field, null, {'label_attr': {'class': 'text-white p'}}) }}
										{% if field.vars.block_prefixes[1] != 'checkbox' %}
											{% if field.vars.name == ('picture' or 'profilePicture') and form.vars.value.id is not null %}
												{{ form_widget(field, {'attr': {'class': 'form-control bg-transparent rounded-0 border-bottom shadow-none p-1 text-white'}}) }}
											{% else %}
												{{ form_widget(field, {'attr': {'class': 'form-control bg-transparent rounded-0 border-bottom shadow-none p-1 text-white', 'required': 'required'}}) }}
											{% endif %}
											{{ form_errors(field) }}

										{% else %}
											{{ form_widget(field, {'attr': {'class': 'form-check-input  m-2'}}) }}
										{% endif %}
										<p class="invalid-feedback text-white">{{ field.vars.label }}
											est requis !</p>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="col-md-12 px-0">
						<button type="submit" class="btn btn-sm btn-primary">{{ button_text }}
							<img src="{{ asset('images/arrow-right.png') }}" alt="">
						</button>
					</div>
					{{ form_end(form, {'render_rest': false}) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% include 'layout/footer.html.twig' %}
